
#event_content .eventDetail > .label { width: 425px !important; }

#admin_cataract_nurses ul li { padding: 0; margin: 0; line-height: 15px; font-size: 11px; }
#admin_cataract_nurses ul li .column_name { width: 425px; display: inline-block; }
